<script>
  $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
    // Avoid following the href location when clicking
    event.preventDefault(); 
    // Avoid having the menu to close when clicking
    event.stopPropagation(); 
    // Re-add .open to parent sub-menu item
    $(this).parent().addClass('open');
    $(this).parent().find("ul").parent().find("li.dropdown").addClass('open');
});

</script>

<div id="header-top">
	<div class="container">

  <div class="row">
	 <div class="col-md-10">
  	<i class="fa fa-phone"></i>
    <% if @add.nil? %>
		  
    <% else %>
      Call us <%= @add.phone %>
    <% end %>
    </div>
   <div class="col-md-2">
    <% if spree_current_user %>
      <% if spree_current_user.has_spree_role?("admin") %>
        <%= link_to "Admin Control", admin_path, class: 'admin_section' %>
      <% end %>
    <% end %>
    </div>
  </div>

	</div>
</div>

<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
</div>









<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


      <style>

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
      </style>

      <li class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown"  data-target="#" href="/page.html">
                Dropdown <span class="caret"></span>
            </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <% Spree::Taxonomy.where(id: [17, 16, 12, 18, 13, 21, 20, 15, 19, 30, 31, 32]).each do |t| %>
          <li class="dropdown-submenu">
            <a tabindex="-1" href="#"><%= link_to t.name, '#' %></a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="#">Even More..</a>
                <ul class="dropdown-menu">
                  <li><a href="#">3rd level</a></li>
                </ul>
              </li>
            </ul>
          </li>
        <% end %>
        </ul>
      </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Office Supplies <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [17, 16, 12, 18, 13, 21, 20, 15, 19, 30, 31, 32]).each do |t| %>
              <li>
              <%= link_to t.name, '#' %>
              <ul>
                <% t.taxons.each do |taxon| %>
                <li>
                  <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                </li>
                <% end %>
              </ul>
            </li>
            <% end %>         
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ink &amp; Toner <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [43]).each do |t| %>
              <li>
                <%= link_to t.name, '#' %>
                <ul>
                  <% t.taxons.each do |taxon| %>
                  <li>
                    <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                  </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Paper <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [10]).each do |t| %>
              <li>
              <%= link_to t.name, '#' %>
                <ul>
                  <% t.taxons.each do |taxon| %>
                    <li>
                      <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post &amp; Packaging <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [11, 63]).each do |t| %>
              <li>
                <%= link_to t.name, '#' %>
                <ul>
                    <% t.taxons.each do |taxon| %>
                      <li>
                        <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                      </li>
                    <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Machines <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [42, 40, 41, 44, 50, 51, 83]).each do |t| %>
              <li>
          <%= link_to t.name, '#' %>
                <ul>
                    <% t.taxons.each do |taxon| %>
                      <li>
                        <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                      </li>
                    <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facilities <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [70, 61, 71, 62]).each do |t| %>
              <li>
                <%= link_to t.name, '#' %>
                <ul>
                    <% t.taxons.each do |taxon| %>
                      <li>
                        <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                      </li>
                    <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Spree::Taxonomy.where(id: [60]).each do |t| %>
              <li>
                <%= link_to t.name, '#' %>
                <ul>
                    <% t.taxons.each do |taxon| %>
                      <li>
                        <%= link_to taxon.name, nested_taxons_path(taxon.permalink) %>                  
                      </li>
                    <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li><!--li class dropdown-->

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>



